<h1>Tasks due:</h1>
<% if @tasks.any? %>
  <table class="tasks">
    <% @tasks.each do |task| %>
      <tr><td class="box"></td><td class="title"><%= task %></td></tr>
    <% end %>
  </table>
<% else %>
  <p>No tasks due! Well done; have a biscuit.</p>
<% end %>
