<!-- FIXME: Change all this! -->

<h1>Printer Sample Application</h1>

<p>This is a sample application for the <a href="http://exciting.io/printer">Printer</a> distributed, federated internet-connected printer platform.</p>

<p>It can be used as a base for developing <a href="https://github.com/exciting-io/printer/wiki/Building-content-services">content service applications</a>, although it is by no means the only way to build them.</p>

<p>For more information, please consult <a href="http://github.com/exciting-io/printer-sample-app">the README</a>.</p>

<hr>

<!-- This link will let people register their printer with your application. -->
<p>You can <a href="/register">register your printer</a> with this application.</p>

<hr>

<!-- You can probably remove all this -->
<h2>More information about Printer</h2>

<p>To find out more, you can take a look at any (or all) of the following:</p>
<ul>
  <li>The <a href="http://exciting.io/2012/04/12/hello-printer/">introductory blog post</a>;</li>
  <li>The <a href="http://exciting.io/printer">project page</a>;</li>
  <li>The <a href="http://printer.exciting.io">backend server</a> we are running;</li>
  <li>The <a href="https://github.com/exciting-io/printer-sample-app">source for this app</a>, the <a href="https://github.com/exciting-io/printer-mail">mail app</a>, the <a href="https://github.com/exciting-io/printer-paint">paint app</a> or the <a href="https://github.com/exciting-io/printer">backend server itself</a>.</li>
</ul>
