/*
  FIXME: You can put your styles in here if you like...
  These are just the bare minimum to get the sample app looking alright.
 */

body {
  font-family: Helvetica, Arial, sans-serif;
}


#registration input,
#registration button {
  font-size: 110%;
}
#registration input[type=text] {
  width: 100%;
}
#registration button {
  margin: 0;
  padding: 5px;
}


.error {
  color: #f00;
}

.tasks {
  font-size: 26px;
  border-spacing: 10px 20px;
}

.tasks .box {
  width: 26px;
  height: 26px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 3px solid black;
}
